'''Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.'''

In [1]:
import pandas as pd

In [2]:
authors = pd.DataFrame({"author_id":[1, 2, 3], "author_name":['Тургенев', 'Чехов', 'Островский']})

In [3]:
book = pd.DataFrame({"author_id":[1, 1, 1, 2, 2, 3, 3], "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], "price":[450, 300, 350, 500, 450, 370, 290]})

In [4]:
authors_price = pd.merge(authors,book, on = 'author_id', how = 'outer')

In [7]:
authors_stat = authors_price.groupby("author_name").price.agg(['min', 'max', 'mean'])

In [11]:
authors_stat = authors_stat.rename(columns={'min': 'min_price', 'max': 'max_price', 'mean': 'mean_price'})

In [12]:
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000