'''Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd. с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.
'''

In [1]:
import pandas as pd

In [2]:
authors = pd.DataFrame({"author_id":[1, 2, 3], "author_name":['Тургенев', 'Чехов', 'Островский']})

In [3]:
book = pd.DataFrame({"author_id":[1, 1, 1, 2, 2, 3, 3], "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], "price":[450, 300, 350, 500, 450, 370, 290]})

In [4]:
authors_price = pd.merge(authors,book, on = 'author_id', how = 'outer')

In [5]:
authors_price["cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']

In [6]:
?pd.pivot_table

In [7]:
authors_price.set_index("author_id", inplace=False)

          author_name            book_title  price    cover
author_id
1            Тургенев           Отцы и дети    450  твердая
1            Тургенев                 Рудин    300   мягкая
1            Тургенев     Дворянское гнездо    350   мягкая
2               Чехов      Толстый и тонкий    500  твердая
2               Чехов       Дама с собачкой    450  твердая
3          Островский                 Гроза    370   мягкая
3          Островский  Таланты и поклонники    290   мягкая

In [8]:
import numpy as np

NaN - 0: fill_value=0

In [9]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_id'], columns=['cover'], aggfunc=np.sum, fill_value=0)

In [10]:
book_info.to_pickle("book_info.pkl")

In [11]:
book_info2 = pd.read_pickle("book_info.pkl")

In [12]:
book_info.compare(book_info2)

Empty DataFrame
Columns: []
Index: []